@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,select, .ant-picker{
  box-shadow: none !important;
  margin-bottom: 10px !important;
  border:2px solid black !important;
  width:100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2{
  font-size: 30px !important;
  padding: 10px;
  font-weight: bold !important;
  text-align: center;
}
.ant-picker-input input{
  border: none !important;
}
p{
  font-size: 16px !important;
}
